initialize() {
	if (exists("slimgui")){
		defineConstant("NUM",1);

		defineConstant("BETA",2.5);
	}
	defineConstant("ALPHA",1);
	initializeSLiMModelType("nonWF");
	defineConstant("K", 50);	// carrying capacity
	
	initializeSex();
	defineConstant("SEXRATIO",0.5);
	defineConstant("FOLDER","/mnt/primevo/work/timothe_dandoy/SLiM_Project/tmp/RepSkew_test/");
}

reproduction() {
	for (pop in sim.subpopulations){
		inds = pop.individuals;
		females = inds[inds.sex == "F"];
		males = inds[inds.sex == "M"];
		males.tag = 0;
		steps = 1/size(males)*c(0:(size(males)-1));
		males = sortBy(males,"tagF");
		Beta_rep = dbeta(steps,ALPHA,BETA);
		for (female in females){
			male = sample(males,1,weights=Beta_rep);
			pop.addCrossed(female,male);
			male.tag = male.tag + 1;
		}
	}
	self.active = 0;
}

modifyChild(){
	if (child.sex == "M") {
		child.tagF = runif(1,0,1);
		child.tag = 0;
	}
	return T;
}
 
1 early() {
	sim.addSubpop("p1",50,SEXRATIO);
	males = p1.individuals[p1.individuals.sex == "M"];
	// absolute rank
	males.tagF = runif(size(males),0,1);
}

early() {
	p1.fitnessScaling = K / p1.individualCount;
}

1000 first() {
	inds = sim.subpopulations.individuals;
	males = inds[inds.sex == "M"];
	r_males = males.tag;
	
	writeFile(FOLDER+"TestRepSkewV2:"+BETA+","+NUM+".txt", paste(r_males));
}
