initialize() {
	if (exists("slimgui")){
		defineConstant("NUM",1);
      defineConstant("SEXRATIO",0.5);
      defineConstant("NTICKS",10000);
      defineConstant("K",750);
      defineConstant("m",40);
	}

	initializeSLiMOptions(nucleotideBased=T);	
	initializeSex();
	defineConstant("LENGTH",1e8);
	defineConstant("FOLDER","/mnt/primevo/work/timothe_dandoy/SLiM_Project/tmp/WF_Vanilla/WF_Het_Pi_Wa/");

	initializeMutationTypeNuc("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0,mmJukesCantor(m*1.25e-8 / 3));
	
	initializeChromosome(1,LENGTH,type="A",symbol="A");
	initializeAncestralNucleotides(randomNucleotides(LENGTH));
	initializeGenomicElement(g1, 0, LENGTH-1);
	initializeRecombinationRate(m*1e-8);
	
	initializeChromosome(2,LENGTH,type="X",symbol="X");
	initializeAncestralNucleotides(randomNucleotides(LENGTH));
	initializeGenomicElement(g1, 0, LENGTH-1);
	initializeRecombinationRate(m*1e-8);
	
	initializeChromosome(3,LENGTH,type="Y",symbol="Y");
	initializeAncestralNucleotides(randomNucleotides(LENGTH));
	initializeGenomicElement(g1, 0, LENGTH-1);
	initializeRecombinationRate(0);
}

1 early() {sim.addSubpop("p1",K,SEXRATIO);}


NTICKS late() {

	hapA = p1.haplosomesForChromosomes("A", includeNulls=F);
	hapX = p1.haplosomesForChromosomes("X", includeNulls=F);
   hapY = p1.haplosomesForChromosomes("Y", includeNulls=F);
	
	HetA  = calcHeterozygosity(hapA);
	HetX  = calcHeterozygosity(hapX);
	HetY  = calcHeterozygosity(hapY);
	
	WaA = calcWattersonsTheta(hapA);
	WaX = calcWattersonsTheta(hapX);
	WaY = calcWattersonsTheta(hapY);
	
	piA = calcPi(hapA);
	piX = calcPi(hapX);
	piY = calcPi(hapY);
	//catn(c(PiA,PiX,PiY));
	//catn(c(WaA,WaX,WaY));

	writeFile(FOLDER+"WF_HetPiWa_Ticks"+NTICKS+","+NUM+".txt", paste(c(HetA,HetX,HetY,WaA,WaX,WaY,piA,piX,piY)));
}
